<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>ArcadeClassic.ttf</string>
		<string>alagard.ttf</string>
	</array>
	<key>NSBonjourServices</key>
	<array>
		<string>_mpc-service._udp</string>
		<string>_mpc-service._tcp</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>This app needs multipeer connectivity to work</string>
</dict>
</plist>
